# H1: Data Science Tools and Ecosystem
Add intro line: In this notebook, Data Science Tools and Ecosystem are summarized.	

Python
R
SQL

ggplot
pycharm
pandas

| Data Science Tools     |
|------------------------|
| Jupyter Notebook       |
| RStudio                |
| Apache Zeppelin        |

### Below are a few examples of evaluating arithmetic expressions in Python.
2+2
4*4+(3+4)

In [1]:
# This is a simple arithmetic expression to multiply then add integers
(3 * 4) + 5

17

In [2]:
# This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

**Objectives:**

- List popular languages for Data Science  
- Identify commonly used libraries in Data Science  
- Create tables using markdown  
- Perform basic arithmetic operations in Python  
- Upload a Jupyter Notebook to GitHub

## Author

Micha≈Ç Krzewinski